:root {
    --font-family-main: sans-serif;
    --font-family-secondary: serif;
    
    --font-size-s: 0.75rem;
    --font-size-m: 1rem;
    --font-size-l: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-2xl: 1.75rem;
    --font-size-3xl: 2rem;

    --line-height-s: 0.75em;
    --line-height-m: 1em;
    --line-height-l: 1.25em;
    --line-height-xl: 1.5em;
    --line-height-2xl: 1.75em;
    --line-height-3xl: 2em;

    --color-white-1: #ffffff;
    --color-black-1: #111111;
    --color-green-1: #008653;
    --color-red-1: #d31c25;

    --font-main: normal 400 var(--font-size-m) / var(--line-height-xl) var(--font-family-main);
}